@media screen and (min-width: 1024px) {

  nav {
    flex-direction: row;
   
}
.d-mobile {
    display: none;
}
  .d-desktop {
      display: flex;
      margin-right: 1.5rem;
      font-size: 1.5rem;
      color: var(--primary);
      font-weight: 800;
  }
  .menu {
      display: none;
  }
  .nav_links {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
  }

  .link-container {
    height: inherit; 
    width: 100%;
    position: relative; 
    z-index: 0; 
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background:none;
    overflow: hidden; 
    padding-top: 0; 
    transition: 0.5s; 
  } 

  .nav_links li {
    margin: 0;
    width: 100%;
    padding: 0rem;      
}
.nav_links li a {
  font-size: 1.6rem;   
  font-weight: 800; 
}

.logo {
    margin-left: 1.5rem;
    font-weight: 800;
  }

      /* NAVBAR ENDS */

    /* MAIN BEGINS */
    .intro {
      margin-top: 6rem;
      flex-direction: row;
    }	
    .intro-text-container{
      width: 100%;
      text-align: -webkit-center;
      text-align: center;
      margin-top: 1.5rem;
    }
    .intro-text-container h1 {
      font-size: var(--font-size-h1);
      font-weight: 400;
      padding: 0 2rem;
    }


    .intro-text-container h3 {
      font-size: var(--font-size-h6);
  }
  .intro-text-container h4{
    font-size: var(--font-size-h4);
    padding-top: 2rem;
    color: var(--primary);
  }
 
  .intro-image-container {
    width: 100%;
    margin: 0 2rem; 
  }
  .intro-image {
    height: 100%;
    width: 100%;
       
  }

  /* INTRO-SECTION ENDS */
    
  /* ABOUT BEGINS */
  .about {
    flex-direction: row-reverse;
  }

  .about-image {
    margin: 0 2rem;
  }


/* ABOUT END */

/* SERVICES BEGINS  */

.service-image-holder {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.service-image {
min-height: 20rem;
  }
/* SERVICES ENDS */

/* SKILLS BEGIN */
.skills-image-container1 {
  flex-direction: row;
  justify-content: space-around;
}
.skills-image-container2 {
  flex-direction: row;
  justify-content: space-around;
}
.skills-image-container3 {
  flex-direction: row;
  justify-content: space-around;
}
/* SKILLS ENDS */

/* PORTFOLIO */
.port-image-holder {
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
/* PORTFOLIO ENDS */

/* CONTACT */
.contact-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact h1::after {
    content: "";
    display: block;
    width: 1.3em;
    height: 0.2rem;
    margin-left: 46rem;
    background: #F08358;
    background: var(--primary);
    opacity: 1; 
    z-index: 1;
  }
 
  .contact-image {
    width: 100%;
    height: 100%;
  }
  
  .contact-image-container {
    width: 100%;
    margin-left: 2rem;
  }
  /* CONTACT ENDS */

    /* FOOTER SECTION */
footer {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social-links-container {
  width: auto;
}

.social-list {
  flex-direction: row;
  align-items: center;
  }

  .social-list__item {
    margin: 0.9rem;
  }

  .name h1 {
       font-size: var(--font-size-h4);
   }

  /* FOOTER ENDS */
    }

    
    @media screen  and (min-width: 2560px){
      :root {
        --font-size-h1: 12rem;
        --font-size-h2: 8rem;
        --font-size-h3: 11.75rem;
        --font-size-h4: 5.25rem;
        --font-size-h5: 1.875;
        --font-size-h6: 6rem;
        --font-size-body: 2rem; 
       
      }
      /* NAVBAR */
      .nav_links li {
        margin: 0;
        width: 50%;
        padding: 2rem;      
    }
    .nav_links li a {
      font-size: 3.6rem;   
      font-weight: 700; 
    }
    
    .logo {
        margin-left: 1.5rem;
        font-size: var(--font-size-h2);
        font-weight: 800;
      }

      .d-desktop {
        display: flex;
        margin-right: 1.5rem;
        font-size: 2.5rem;
        color: var(--primary);
        font-weight: 800;
    }

    /* NAVBAR ENDS */
    .intro {
      margin-top: 14rem;
      }
/* SERVICE */
      .service-text-container h1 {
        font-size: var(--font-size-h3);
      }
      .service {
        margin-bottom: 20rem;
      }
        .service-text-container::before {
          margin-left: -40rem;
          font-size: 20rem;
          margin-top: -4rem;
      }
  
      .service-do-underline::after {
        margin-left: 40rem;
    }
    /* SERVICE ENDS */

/* SKILSS */
      .skills-image {
        width: auto;
        height: 15vh;
        border-radius: 4rem;
        min-height: 100px;
      }
      .skills-text-container::before {
        margin-left: -30rem;
        margin-top: -10rem;
        font-size: 20rem;
    }
    .skills-text-container h1::after {
       margin-left: 20rem;
     }
    
     /* SKILLS ENDS */

      /* PORTFOLIO */
      .portfolio {
       margin-top: 14rem;
      
      }

      .port-image-holder {
        width: 90%;
        padding: 0 4rem;      
      }

      .port-image-container {
        height: 40vh;      
       
      }
      .port-text-container::before {
        margin-left: -9rem;
        margin-top: -4rem;
        font-size: 20rem;
      }
      
      .port-text-container h1::after {
        margin-left: 25rem;
      }
      /* PORTFOLIO ENDS */

      /* CONTACT */
      .contact h1::before {
        margin-left: -10rem;
        margin-top: -12rem;
        font-size: 20rem;
      }
      .contact h1::after {
         margin-left: 83rem;
      }
      
      .contact h1 {
      
        font-size: var(--font-size-h1);
      }
      
      .contact {
        margin-top: 20rem;
      }
        
      .contact-main input[type="text"], textarea{
        width: 90%;
        height: 8rem;
        }

        .contact-main textarea {
          height: 30rem;
        }

        /* CONTACT ENDS */
        
/* FOOTER */
        .social-list__link {
          font-size: 6rem;
        }
        .phone .phone-footer {
          font-size: 3.5rem;
     
        }
        /* FOOTER ENDS */

    /* ABOUT */
        .about-text-container::before {
          margin-left: -24rem;
          margin-top: 1rem;
          font-size: 16rem;
      }
      .about-text-container h1{
        font-size: var(--font-size-h3);
        }
  
/* ABOUT ENDS */

  }